

 :root{
  --extra-bright-color: #485f68;
}


.home{
  background-image: linear-gradient(to left, var(--secondary-color) 99%, var(--tertiary-color) 1%);
  padding: 10px;
}

.home:hover{
  background-color: var(--secondary-color);
}

.ic_home{
  color:var(--tertiary-color);
  margin-right: 10px;
}


/* 
.content_top{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  height: auto;
  max-width: 80%;
  
  gap: 20px
}


.invoice_title{
  font-size: 30px;
}


.summary{

  display: flex;
  gap: 30px;
  width: fit-content;
  height: fit-content;
  

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
  border-radius: 10px;

  text-align: center;
  color:var(--primary-color);
}

 */

 /* .content_top{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 20px
} */


/* .content_top{
  gap: 30px;
  width: auto;
  height: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 3%;
  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
  border-radius: 10px;

  text-align: left;
  color:var(--primary-color);
} */

 /* .content_top{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 20px
}  */
.content_top{
  gap: 30px;
  width: fit-content;
  height: fit-content;
  display: flex ;
  flex-wrap: wrap;

} 

 .summary{

  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: fit-content;
  height: fit-content;
  

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
  border-radius: 10px;

  text-align: center;
  color:var(--primary-color);
}

.total_outstanding{
  width: auto;
  align-self: center;
  padding-left: 20px;
}

.overdue{
  width: auto;
  align-self: center;
  border-left: 1px solid var(--secondary-color);
  padding-left: 20px;
}

.due{

  width: auto;
  align-self: center;
  border-left: 1px solid var(--secondary-color);
  padding-left: 20px;
}


 .upload{
  gap: 30px;
  width: fit-content;
  height: fit-content;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
  border-radius: 10px;

  text-align: left;
  color:var(--primary-color);
}



.upload_invoice,
.upload_soa,
.upload_credit_note{
  display:flex;
  padding:5px;
  justify-content: space-between;
  gap: 10px;
}


.ic_upload{
  width: auto;
  color:var(--primary-color);
}


.barchar1{
  gap: 30px;
  width: auto;
  height: auto;

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
  border-radius: 10px;

  text-align: left;
  color:var(--primary-color);
}

.barchar2{
  gap: 30px;
  width: auto;
  height: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 3%;
  border: 1px solid var(--secondary-color);
  box-shadow: 5px 5px 10px rgba(45,82,97,0.3);
  border-radius: 10px;

  text-align: left;
  color:var(--primary-color);
}

/*  
.content{
  margin-right: 50px;
}


.soa_upload_title{
  white-space: nowrap;
  padding-right: auto;
} */
/* Style the div as needed */


/* Style the file input to be transparent and overlay the div */


